<!-- <div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card"></p>
        <p>Provide Name: <input [(ngModel)]="labelName" id="Model" style="height:44px; length:75px" placeholder="Required"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text"  id="inputName" class="form-control" placeholder="Name">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="signIn()">Sign in</button>
        </form>
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
        <br>
        <h2>{{labelName}} fill the above details to Sign-in</h2>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th></tr>
            <tr *ngFor="let detail of details">
                <td>{{detail.inputName}}</td>
                <td>{{detail.inputEmail}}</td>
                <td>{{detail.inputPassword}}</td></tr>
            </table>
        </div> -->
        

    <div class="card" style="width: 40rem; height: 30rem">
            <div class="card-body">
              <div class="imageCenter">  
              <img src="../../assets/Images/google-icon.png" height="80" width="80" ></div>
              <h5 class="card-title" style="text-align: center">Sign in</h5>
              <form class="form_body sign_up_block">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Password</label>
                    </div>
                    <div class="button-text">
                    <button type="submit" class="btn btn-primary" (click)="signIn()">Sign in</button>
                    </div>
                </form>
            
            </div>
     </div> 

<div class="table-responsive">     
    <div class="table_block">
        <table class="table table-striped">
            <thead class="thead-Info">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of details">
                    <td>{{detail.email}}</td>
                    <td>{{detail.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


    