
.form_body{
    width: 60%;
}

.sign_up_block{
    margin-left: 23%;
}
.imageCenter{
    margin-left: 43%;
}
.table_block{
    margin-top: 2em;
}
.card .card-body img{
    align-content: center;
    
}
  
.card-body card-title h5{
   align-content: center;
}
.card {
    margin-top: 5%;
    margin-left: 20%;
    align-content: center;
}
.btn btn-primary {
align-content: center;
align-items: center
}
img{
    align-items: center
}
.thead-Info{
    color: rgb(14, 67, 167)
}
.button-text{
    margin-top: 8%;
    margin-left: 35%;
}